<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <div class="forms" style="background-color: rgb(56, 56, 222); height: 30rem; width: 43rem;">
  <div id="forms_1">
  <form action="/add" method="POST">
  <!-- <form action="/users" method="POST"> -->
    <input placeholder="Student Name" id="student_name" name="stud_name"  style="width: 20rem;  margin-left: 10rem; border-radius: 20px;"><br>
    <input placeholder="Class" id="class1" name="class1"   style="width: 20rem; margin-left: 10rem; border-radius: 20px;"><br>
    <input placeholder="Book Name" id="book_name" name="book_name" style="width: 20rem;margin-left: 10rem; border-radius: 20px;"><br>
    <input placeholder="Book ISBN" id="book_isbn" name="book_isbn" style="width: 20rem;margin-left: 10rem; border-radius: 20px;"><br>
    <input placeholder="Book Author" id="book_author" name="book_author" style="width: 20rem;margin-left: 10rem; border-radius: 20px;"><br>
    <input placeholder="Borrowed Date" id="borrowed_date" name="borrowed_date" style="width: 20rem;margin-left: 10rem; border-radius: 20px;"><br>
    <input placeholder="Return Date" id="return_date" name="return_date" style="width: 20rem;margin-left: 10rem; border-radius: 20px;"><br>

    <button type="submit" style="width: 8rem;margin-left: 10rem; border-radius: 20px; background-color: olive;">Submit</button>
</form>
 </div>
 </div>>

</body>
</html>